
.main-container{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

app-menu{
  width: 320px;
  min-width: 320px;
  height: 100%;
}

.content{
  height: 100%;
  width: 100%;
  position: relative;
}

app-message-dialog{
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 700px;
  -webkit-transition: bottom 0.2s; /* Safari */
  transition: bottom 0.2s;
}

app-message-dialog.show{
  bottom: 20px;
  -webkit-transition: bottom 0.2s; /* Safari */
  transition: bottom 0.2s;
}

app-live-video{
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  height: 200px;
}
