<header>
  <span>New Target</span>
  <button (click)="cancel()"  mat-button><i class="fa fa-times"></i></button>
</header>
<main>
  <form (ngSubmit)="onSubmit(newTargetForm)" #newTargetForm="ngForm">
    <div class="form-inputs-container">
      <mat-form-field>
        <input ngModel name="latitude" matInput placeholder="Latitude" value="" autocomplete="off" required>
      </mat-form-field>
      <mat-form-field>
        <input ngModel name="longitude" matInput placeholder="Longitude" value="" autocomplete="off" required>
      </mat-form-field>
      <mat-form-field>
        <input ngModel name="altitude" matInput placeholder="Altitude" value="" autocomplete="off" required>
      </mat-form-field>
      <mat-form-field>
        <input ngModel name="size" matInput placeholder="Size" autocomplete="off" value="">
      </mat-form-field>
      <mat-form-field>
        <mat-select [ngModel]="'target'" name="type " matInput placeholder="Target Type">
          <mat-option value="target">Target</mat-option>
          <mat-option value="warning">Warning</mat-option>
          <mat-option value="ally">Ally</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</main>
<footer>
  <button (click)="cancel()" mat-raised-button>
    CANCEL
  </button>
  <button (click)="newTargetForm.ngSubmit.emit()" [disabled]="!newTargetForm.valid" mat-raised-button class="btn-save">
    <span *ngIf="!(isSaving$ | async)">SAVE</span>
    <i *ngIf="isSaving$ | async" class="fa fa-spinner fa-spin"></i>
  </button>
</footer>
