header, footer{
  height: 40px;
}

header{
  background-color: var(--secondery-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 16px;
  padding: 0 20px;
  height: 60px;
}

header button{
  min-width: 40px;
}

footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}

footer button{
  margin: 0 5px;
}

.form-inputs-container{
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}

.form-inputs-container > mat-form-field{
  margin-bottom: 20px;
}
.form-inputs-container > mat-form-field:last-child{
  margin-bottom: 0;
}
