mat-sidenav-container {
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 80px;
  background-color: var(--primary-dark);
  color: white;
}

header h1 {
  text-align: center;
}

nav {
  width: 100%;
  height: calc(100% - 80px);
}

/deep/ nav .mat-tab-group{
  height: 100%;
}

/deep/ nav .mat-tab-body-wrapper{
  flex-grow: 1;
}

/deep/ nav .mat-tab-body-content{
  display: flex;
}

/deep/ nav .mat-tab-label {
  min-width: unset;
}

/deep/ nav .mat-ink-bar {
  background-color: var(--secondery-color);
}

nav .tab-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .mat-button {
  min-width: 40px;
  height: 40px;
}

nav .tab-title h2 {
  display: flex;
}
nav .tab-title .fa{
  color :var(--secondery-color);
}

nav .targets-section{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

nav .targets-section .btn-container{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;
}
nav .targets-section .btn-container button{
  width: 100px;
}

nav .targets-section .btn-container i{
  margin-right: 5px;
}

/deep/ nav .target-list-section mat-list{
  height: calc(100vh - 300px);
  overflow: auto;
  padding: 0 24px;
}

nav .target-list-section .tab-title{
  height: 70px;
  padding: 0 24px;
}

.list-target-item i {
  width: 20px;
  margin-right: 10px;
}
