mat-sidenav-container {
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 80px;
  background-color: var(--primary-dark);
  color: white;
}

header h1 {
  text-align: center;
}

nav {
  width: 100%;
  height: calc(100% - 80px);
}

/deep/ nav .mat-tab-group{
  height: 100%;
}

/deep/ nav .mat-tab-body-wrapper{
  flex-grow: 1;
}

/deep/ nav .mat-tab-body-content{
  display: flex;
  overflow-x: hidden;
}

/deep/ nav .mat-tab-label {
  min-width: unset;
}

/deep/ nav .mat-ink-bar {
  background-color: var(--secondery-color);
}

nav .tab-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .mat-button {
  min-width: 40px;
  height: 40px;
}

nav .tab-title h2 {
  display: flex;
}
nav .tab-title .fa{
  color :var(--secondery-color);
}

nav .menu-section{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
}

nav .menu-section .btn-container{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;
}
nav .menu-section .btn-container button{
  width: 100px;
}

nav .menu-section .btn-container i{
  margin-right: 5px;
}

/deep/ nav .menu-list-container mat-list{
  height: calc(100vh - 300px);
  overflow: auto;
}

nav .menu-list-container .tab-title{
  height: 70px;
  padding: 0 24px;
}


.menu-section mat-list-item.clicable-item:hover{
  background-color: rgba(0,0,0,.04);
  cursor: pointer;
}

.menu-list-item{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.target-item{
  justify-content: space-between;
}

.target-item span{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.target-item .target-id{
  width: 45px;
}

.target-item .target-coord{
  flex-grow: 1;
  display: flex;
}
.target-item .target-coord span{
  flex-grow: 1;
}

.target-item span .menu-list-item-buttons{

}

.target-item i{
  width: 20px;
  margin-right: 10px;
}

.reconunit-item{
  justify-content: space-between;
}
