/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

*{
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

body{
  padding: 0;
  margin: 0;
}

.ally-color{
  color: #81C784
}

.target-color{
  color: #E57373
}

.warning-color{
  color: #FFF176
}

.new-target-panel{
  width: 500px;
}
.new-target-panel .mat-dialog-container {
  padding: 0;
}
